/**
 * Layout
 */
{% include "../static/styles/_layout.css" %}

/**
 * 404
 */
{% include "../static/styles/404.css" %}

/**
 * Index
 */
{% include "../static/styles/index.css" %}

/**
 * Post details
 */
{% include "../static/styles/posts-details.css" %}

/**
 * Posts
 */
{% include "../static/styles/posts.css" %}

/**
 * Project details
 */
{% include "../static/styles/projects-details.css" %}

/**
 * Projects
 */
{% include "../static/styles/projects.css" %}

/**
 * Socials
 */
{% include "../static/styles/socials.css" %}

/**
 * Big list
 */
{% include "../static/styles/shared/big-list.css" %}

/**
 * Button
 */
{% include "../static/styles/shared/button.css" %}

/**
 * Prism
 */
{% include "../../node_modules/prismjs/themes/prism.css" %}
