.projects-details-info {
	background: #eee;
	padding: 1em;
	font-size: 0.8em;
}

.projects-details-info dl {
	margin: 0;
}

.projects-details-info dt {
	font-weight: bold;
}

.projects-details-info dd {
	margin: 0;
}

.projects-details-info dd:not(:last-child) {
	margin-bottom: 0.5em;
}

.projects-details-content img {
	max-width: 100%;
}

.projects-details-content blockquote {
	border-left: 4px solid #ddd;
	margin-left: 0;
	margin-right: 0;
	padding: 0 1em;
}

.projects-details-content table {
	border-collapse: collapse;
}

.projects-details-content tr:nth-child(2n) {
	background-color: #eee;
}

.projects-details-content td,
.projects-details-content th {
	border: 1px solid #ddd;
	padding: 0.4em 0.5em;
}
