.projects-details-logo {
    float: right;
    width: 48px;
    height: 48px;
}

.projects-details-images {
    background-color: #f0f0f0;
    border-radius: .5em;
    box-shadow: inset 0 0 .5em #888;
    margin-top: 1em;
    padding: 1em;
    white-space: nowrap;
}

.projects-details-getit {
    margin-top: 2em;
    word-spacing: 1em;
}

.projects-details-getit a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.projects-details-images img,
.projects-details-getit img {
    height: 45px;
    vertical-align: bottom;
}
