.projects-details-info {
	background: #eee;
	padding: 1em;
	font-size: 0.8em;
}

.projects-details-info dl {
	margin: 0;
}

.projects-details-info dt {
	font-weight: bold;
}

.projects-details-info dd {
	margin: 0;
}

.projects-details-info dd:not(:last-child) {
	margin-bottom: 0.5em;
}

.projects-details-content img {
	max-width: 100%;
}
