.socials {
    margin-top: 1em;
    text-align: center;
}

.socials a {
    display: inline-block;
}

@media (min-width: 600px) {
    .socials {
        margin: 0;
        position: absolute;
        right: -40px;
        width: 32px;
        top: 12em;
    }
}
