body {
    font-family: 'Pontano Sans', 'Helvetica', sans-serif;
    font-display: optional;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(-45deg, #f0f0f0, #c7c7c7);
    max-width: 500px;
    padding: 0 0.5em;
    margin: 0 auto;
    position: relative;
}

.header h1,
.header h2 {
    display: inline-block;
}

.header h1 a,
.header h2 a {
    text-decoration: none;
    color: var(--text-color);
}

.header h2 {
    margin-left: 0.3em;
}

.header h2:before {
    content: "/ ";
}

.footer {
    text-align: center;
    margin: 2em 0;
}
