.posts-details-datetime {
    font-size: 0.8em;
    margin-right: 2em;
}

.posts-details-tags {
    font-size: 0.8em;
    font-style: italic;
}

.posts-details-content pre {
    background-color: #f0f0f0;
    border-radius: .5em;
    box-shadow: inset 0 0 .5em #888;
    padding: 1em;
    overflow: auto;
}
