.posts-details-datetime {
    font-size: 0.8em;
    margin-right: 2em;
}

.posts-details-tags {
    font-size: 0.8em;
    font-style: italic;
}

.posts-details-content pre {
    padding: 1em;
    overflow: auto;
}
