.projects-icon {
    width: 120px;
    height: 120px;
    float: left;
}

.projects-description {
    margin-left: 135px;
}

.projects-tags {
    margin-top: 15px;
    margin-left: 135px;
    font-size: 0.8em;
}

.projects-tag {
    display: inline-block;
    padding: 2px 5px;
    background-color: #ccc;
    margin: 3px;
    border-radius: 1px;
}

.projects-clear {
    clear: left;
}
