---
permalink: feeds/posts
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Jan Kühle - Blog</title>
  <id>https://kuehle.me/posts</id>
  <link rel="alternate" href="https://kuehle.me/posts"></link>
  <link rel="self" href="https://kuehle.me/feeds/posts"></link>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <author>
    <name>Jan Kühle</name>
    <uri>https://kuehle.me</uri>
    <email>jkuehle90@gmail.com</email>
  </author>
  {%- for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.metadata.title }}</title>
    <id>{{ absolutePostUrl }}</id>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <content type="html">{{ post.data.metadata.summary }}</content>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
